// user-variables.scss
$mfm-primary-color: #FF7C23;
$mfm-font-family: 'Nunito', sans-serif;
$mfm-font-size:0.875rem;

//logo width
$logo-width: 9.6rem;
$logo-mini-width:2rem;

//sidebar nav icon size
$sidebar-nav-icon:1.05rem;

// Use this to overwrite Bootstrap and Front variables
//


// Example of a variable override to change Front's primary color and font size
// Remove the "//" to comment it in and see it in action!
$primary: $mfm-primary-color;
$navbar-brand-default-width: $logo-width;
$navbar-vertical-brand-logo-mini-width:  $logo-mini-width;
$font-family-base: $mfm-font-family;
$font-size-base: $mfm-font-size;



// The color of the SVG loader should be modified manually.
// See assets/svg/components/circle-preloader.svg
