<a class="navbar-brand" href="@@autopath/mfm-dashboard.html" aria-label="Front">
  <img class="navbar-brand-logo" src="@@autopath/assets/svg/logos/mf_logo.png" alt="Logo" data-hs-theme-appearance="default">
  <img class="navbar-brand-logo" src="@@autopath/assets/svg/logos-light/mf_logo.png" alt="Logo" data-hs-theme-appearance="dark">
  <img class="navbar-brand-logo-mini" src="@@autopath/assets/svg/logos/mf_logo-mini.png" alt="Logo" data-hs-theme-appearance="default">
  <img class="navbar-brand-logo-mini" src="@@autopath/assets/svg/logos-light/mf_logo-mini.png" alt="Logo" data-hs-theme-appearance="dark">
</a>